<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <description>BARD Web Services</description>
    <display-name>BARD Web Services</display-name>
    <distributable/>


    <context-param>
        <param-name>privateService</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>solr-server</param-name>
        <param-value>http://carnot.ncats.nih.gov:8094/solr</param-value>
    </context-param>

    <!-- Specify the Solr cores we should use for full text search -->
    <context-param>
        <param-name>core-name-assay</param-name>
        <param-value>/core-assay-v14/</param-value>
    </context-param>
    <context-param>
        <param-name>core-name-project</param-name>
        <param-value>/core-project-v14/</param-value>
    </context-param>
    <context-param>
        <param-name>core-name-compound</param-name>
        <param-value>/core-compound-v14/</param-value>
    </context-param>
    <context-param>
        <param-name>core-name-experiment</param-name>
        <param-value>/core-experiment-v14/</param-value>
    </context-param>


    <context-param>
        <param-name>datasource-context</param-name>
        <param-value>jdbc/bardman3</param-value>
    </context-param>

    <servlet>
        <description>BARD REST Services</description>
        <display-name>BARD REST Web Services</display-name>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>gov.nih.ncgc.bard.rest.filter.CountFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>paddy.jersey.cors.CORSFilter</param-value>
        </init-param>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>gov.nih.ncgc.bard.rest</param-value>
        </init-param>

        <!-- this must always be after init-param !-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Only used when running the API with an embedded Jetty container -->
    <resource-ref>
        <description>Jetty DataSource</description>
        <res-ref-name>jdbc/bardman-maxwell</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>

