<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <description>BARD Web Services</description>
    <display-name>BARD Web Services</display-name>
    <distributable/>


    <context-param>
        <param-name>privateService</param-name>
        <param-value>false</param-value>
    </context-param>

    <context-param>
        <param-name>solr-server</param-name>
        <param-value>http://carnot.ncats.nih.gov:8094/solr</param-value>
    </context-param>

    <!-- Specify the Solr cores we should use for full text search -->
    <context-param>
        <param-name>core-name-assay</param-name>
        <param-value>/core-assay-v14/</param-value>
    </context-param>
    <context-param>
        <param-name>core-name-project</param-name>
        <param-value>/core-project-v14/</param-value>
    </context-param>
    <context-param>
        <param-name>core-name-compound</param-name>
        <param-value>/core-compound-v14/</param-value>
    </context-param>
    <context-param>
        <param-name>core-name-experiment</param-name>
        <param-value>/core-experiment-v14/</param-value>
    </context-param>

    <context-param>
        <param-name>datasource-context</param-name>
        <param-value>jdbc/bardman</param-value>
    </context-param>

    <!-- the first datasource is the master; all subsequent ones are slave -->
    <context-param>
        <param-name>datasource-cluster</param-name>
        <param-value>jdbc/bardman3,jdbc/bard3_faraday,jdbc/bard3_tesla,jdbc/bard3_coulomb</param-value> 
    </context-param>

    <!-- specify which datasource to use -->
    <context-param>
        <param-name>datasource-selector</param-name>
        <param-value>datasource-cluster</param-value>
    </context-param>

    <context-param>
        <param-name>cache-management-cache-prefix-list</param-name>
        <param-value>Assay,Experiment,Project,Biology,CompoundAnnotationCache,Ent,Panther,Probe,Protein,Pub,SearchAssay,SearchForEnt,SearchForExpt,Targets,CAPDictionary,CompoundData,SubstanceData,SubstanceExperiment,Compound,Subst</param-value>
    </context-param>
                 
    <!-- Hazelcast cluster for Glassfish4 cluster: rayleigh, boltzmann, and gauss 
    <context-param>
        <param-name>cache-manager-cluster-nodes</param-name>
        <param-value>10.134.21.163:5701,10.134.21.162:5701,10.134.21.161:5701</param-value>
    </context-param>
-->

    <!-- Hazelcast cluster for Glassfish3: hamilton and dirac  -->
    <context-param>
        <param-name>cache-manager-cluster-nodes</param-name>
        <param-value>128.231.10.33:5701,128.231.10.95:5701</param-value>
    </context-param>

    <listener>
        <listener-class>gov.nih.ncgc.bard.tools.BardServletContextListener</listener-class>
    </listener>

    <servlet>
        <description>BARD REST Services</description>
        <display-name>BARD REST Web Services</display-name>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>gov.nih.ncgc.bard.rest.filter.CountFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>gov.nih.ncgc.bard.rest.filter.CORSFilter</param-value>
        </init-param>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>gov.nih.ncgc.bard.rest</param-value>
        </init-param>

        <!-- this must always be after init-param !-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Only used when running the API with an embedded Jetty container -->
    <resource-ref>
        <description>Jetty DataSource</description>
        <res-ref-name>jdbc/bardman-maxwell</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>

